@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Open+Sans:400,400italic,700);

body {
	font-family: "Open Sans", sans-serif !important;
}
code {
	font-family: "Source Code Pro", monospace !important;
}

img#cq {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
	background: white;
	opacity: 0.5;
}

h1 > small {
	font-weight: 400 !important;
	font-size: 75% !important;
}

iframe {
	width: 100%;
	height: 500px;
}