h1#problem {
	background-color: rgb(204, 204, 204);
}

h1#bad-html span {
	background-color: rgb(204, 204, 204);
}

h1#good-html {
	background-color: rgb(204, 204, 204);
	display: inline-block;
}
h1#good-html:after {
	display: block;
	height: 0;
}